@layer goffik.home {
  html {
    overflow-x: hidden;
    position: relative;
  }

  body {
    max-inline-size: none;
    overflow-x: hidden;
    position: relative;
  }

  header {
    text-align: center;
  }

  hgroup {
    margin-inline: 0.25ch;
    position: relative;
  }

  h1 {
    font-size: 4.5em;
    margin-block-start: 0.25em;
    text-shadow: 2px 2px white, -2px -2px black;
  }

  #goth-drip {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    transform: translateY(-522px);
    transition-delay: 50ms;
    transition-duration: 2s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
  }

  @media screen and (orientation: portrait) {
    #goth-drip {
      inline-size: 145%;
    }
  }

  .js-page-loaded #goth-drip {
    transform: translateY(0);
  }

  #content {
    display: grid;
    padding-inline: 0;
    grid-template-columns: 1fr auto 1fr;
  }

  .begin {
    grid-column: 2;
    display: block;
    text-align: center;
    position: relative;
    margin-block-start: 2em;
    text-decoration-line: none;
    font-size: 1.8em;
    font-variant-caps: small-caps;
    font-family: cursive;
    font-weight: 600;

    &::before {
      content: '☠ ';
      font-size: 0.7em;
    }

    &::after {
      content: ' ☠';
      font-size: 0.7em;
    }
  }

  .hand {
    grid-row: 2;
    inline-size: 24vw;
  }

  #right-hand {
    grid-column: 3;
    transform: scaleX(-1);
    justify-self: end;
  }

  footer {
    margin-block-start: 4em;
  }
}
