@layer goffik.home {
  .home {
    max-inline-size: none;
    overflow-x: hidden;
  }

  header {
    text-align: center;
  }

  h1 {
    position: relative;
    font-size: 5em;
    margin-block-start: 0.25em;
    text-shadow: 2px 2px white, -2px -2px black;
  }

  #goth-drip {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
  }

  @media screen and (orientation: portrait) {
    #goth-drip {
      inline-size: 145%;
    }
  }

  .begin {
    display: block;
    text-align: center;
    position: relative;
    margin-block-start: 35vh;
    text-decoration-line: none;
    font-size: 2em;
    font-variant-caps: small-caps;
    font-family: cursive;
    font-weight: 600;
  }
}
