@layer reset, base, goffik;

/* Reset {{{ */
@layer reset {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body, h1, h2, h3, h4, p,
  figure, blockquote, dl, dd {
    margin-block-end: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.6;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1, h2, h3, h4,
  button, input, label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1, h2,
  h3, h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input, button,
  textarea, select {
    font-family: inherit;
    font-size: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }
}
/* }}} */

/* Base {{{ */
@layer base {
  * + * {
    margin-block-start: 1.5em;
  }

  body {
    max-inline-size: 65ch;
    margin-inline: auto;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: clamp(1.125em, 0.9946rem + 0.6522vw, 1.5em);;
    color: whitesmoke;
    background-color: #111111;
    padding-block-end: 5em;
    padding-inline: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: cursive;
    color: mediumvioletred;
  }

  h1 {
    text-align: center;
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
    margin-block-start: 1.5em;
  }

  h3 {
    font-size: 2em;
  }

  p:first-child {
    margin-block-start: 0;
  }

  abbr {
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }


  aside,
  [role='note'] {
    font-size: 0.9em;
    font-style: italic;
  }

  aside {
    margin-block-start: 2em;
  }

  hr {
    border: none;
    margin-block-start: 2em;
  }

  hr::after {
    content: '';
    font-weight: 600;
    text-align: center;
    color: slategray;
  }
}
/* }}} */

/* Goffik {{{ */
@layer goffik {
  #chapter-1 hr:first-of-type::after {
    content: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX';
  }

  #chapter-1 hr:last-of-type::after {
    content: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX';
  }

  #chapter-2 hr::after {
    content: 'XXXXXXXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXXXXXXXX';
  }

  #chapter-3 hr::after {
    content: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX';
  }

  #chapter-4 hr::after {
    content: 'XXXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXXXX';
  }

  #chapter-5 hr::after {
    content: 'XXXXXXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXXXX';
  }

  #chapter-6 hr::after {
    content: 'XXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-7 hr::after {
    content: 'XXXXXXXXXXXXXXXXXXXXX666XXXXXXXXXZXXXXXXXXXXXXX';
  }

  #chapter-8 hr::after {
    content: 'XXXXXXXXXXXXXXXXXX666XXXXXXXXXXX';
  }

  #chapter-9 hr::after {
    content: 'XXXXXXXXXXXXXXXXXX666XXXXXXXXXXX';
  }

  #chapter-10 hr::after {
    content: 'XXXXXXXXXXXXX666XXXXXXXXXXXXXXX';
  }

  #chapter-11 hr::after {
    content: 'XXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXXXXX';
  }

  #chapter-12 hr:first-of-type::after {
    content: 'XXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-12 hr:last-of-type::after {
    content: 'XXXXXXXXXXXXXXXXXX666XXXXXXXXXXX';
  }

  #chapter-13 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-14 hr::after {
    content: 'XXXXXXXXXXXXXXXXXXX666XXXXXXXXXX';
  }

  #chapter-15 hr::after,
  #chapter-16 hr::after {
    content: 'XXXXXXXXXXXXX666XXXXXXXXXXXXXXX';
  }

  #chapter-17 hr::after {
    content: 'XXXXXXXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXX';
  }

  #chapter-18 hr::after {
    content: 'XXXXXXXXXXXX666XXXXXXXXXXXXXXXXX';
  }

  #chapter-19 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-20 hr::after,
  #chapter-21 hr::after {
    content: 'XXXXXXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXX';
  }

  #chapter-22 hr::after,
  #chapter-23 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXXXXXXXXX';
  }

  #chapter-24 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-25 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-26 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-27 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-28 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-29 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-30 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-31 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-32 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-33 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-34 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-35 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-36 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-37 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-38 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-39 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-40 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-41 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-42 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-43 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }

  #chapter-44 hr::after {
    content: 'XXXXXXXXXXXXXXXXX666XXXXXXXXXXXXXXXXXX';
  }
}
/* }}} */

/*
vim: fdm=marker
*/
